# Classification Exercises
<hr style="border:2px solid green"> </hr>

In [1]:
from pydataset import data
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
import math

# import splitting and imputing functions
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# turn off pink boxes for demo
import warnings
warnings.filterwarnings("ignore")

# import our own acquire module
import acquire

# Remove limits on viewing dataframes
pd.set_option('display.max_columns', None)

# Data Acquisition Exercises

### 4. Create a pandas dataframe, `df_iris`, from the `iris` data set.

In [2]:
df_iris = data('iris')

### print the first 3 rows

In [3]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

### print the number of rows and columns (shape)

In [4]:
df_iris.shape

(150, 5)

### print the column names

In [5]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

### print the data type of each column

In [6]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

### print the summary statistics for each of the numeric variables.

In [7]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### Would you recommend rescaling the data based on these statistics?

In [8]:
# will answer later, per Ravinder's instructions

### 5. Read the `Table1_CustDetails` table from the `Excel_Exercises.xlsx` file into a dataframe named `df_excel`.

In [9]:
# Get the link specifically from the webpage URL. For some reason getting the shareable link causes errors
# In addition, the sheet must be first made shareable to the public before copying the URL
google_sheets_url = 'https://docs.google.com/spreadsheets/d/1kQJZVGHpYa1CP_dHcCkOkSdy1F98z9v5/edit#gid=120278164'

# Turn that into a CSV export URL:
csv_export_url = google_sheets_url.replace('/edit#gid=', '/export?format=csv&gid=')

# Pass it to pd.read_csv, which can indeed take a URL:
df_excel = pd.read_csv(csv_export_url)

# And now to test my dataframe!
df_excel.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes

### assign the first 100 rows to a new dataframe, `df_excel_sample`

In [10]:
df_excel_sample = df_excel.head(100)

### print the number of rows of your original dataframe

In [11]:
df_excel.shape[0]

7049

### print the first 5 column names

In [12]:
df_excel.columns[range(0,5)]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

### print the column names that have a data type of object

In [13]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7049 non-null   object
 1   gender             7049 non-null   object
 2   is_senior_citizen  7049 non-null   int64
 3   partner            7049 non-null   object
 4   dependents         7049 non-null   object
 5   phone_service      7049 non-null   int64
 6   internet_service   7049 non-null   int64
 7   contract_type      7049 non-null   int64
 8   payment_type       7049 non-null   object
 9   monthly_charges    7049 non-null   float64
 10  total_charges      7038 non-null   float64
 11  churn              7049 non-null   object
dtypes: float64(2), int64(4), object(6)
memory usage: 661.0+ KB

In [14]:
df_excel.select_dtypes(['object']).columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

### compute the range for each of the numeric variables.

In [15]:
column_list = df_excel.select_dtypes(['int64','float64']).columns
column_list

Index(['is_senior_citizen', 'phone_service', 'internet_service',
       'contract_type', 'monthly_charges', 'total_charges'],
      dtype='object')

In [16]:
for x in column_list:
    print(x,":", df_excel[ x ].max() - df_excel[ x ].min())

is_senior_citizen : 1
phone_service : 2
internet_service : 2
contract_type : 2
monthly_charges : 100.5
total_charges : 8666.0

### 6. Read the data from this google sheet into a dataframe, `df_google`

https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357

In [17]:
# Putting the linky as a variable
google_sheets_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

# Turn that into a CSV export URL:
csv_export_url = google_sheets_url.replace('/edit#gid=', '/export?format=csv&gid=')

# Pass it to pd.read_csv, which can indeed take a URL:
df_google = pd.read_csv(csv_export_url)

# And now to test my dataframe!
df_google.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### print the first 3 rows

In [18]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

### print the number of rows and columns

In [19]:
df_google.shape

(891, 12)

### print the column names

In [20]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### print the data type of each column

In [21]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### print the summary statistics for each of the numeric variables

In [22]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### print the unique values for each of your categorical variables

In [23]:
# Making a list of the columns I think are condisered "categorical"
categorical_columns = ["Sex", "Embarked", "Parch", "SibSp", "Pclass"]

# Making a simple loop to print all unique values ~
for x in categorical_columns:
    print(x, ":", df_google[x].unique())

Sex : ['male' 'female']
Embarked : ['S' 'C' 'Q' nan]
Parch : [0 1 2 5 3 4 6]
SibSp : [1 0 3 4 2 5 8]
Pclass : [3 1 2]

# Data Preparation Exercises

### Using the Iris Data:

### 1. Use the function defined in acquire.py to load the iris data.

In [24]:
iris = acquire.get_iris_data()
iris.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

### 2. Drop the species_id and measurement_id columns.

In [25]:
iris = iris.drop(["species_id","measurement_id"], 1)
iris

     sepal_length  sepal_width  petal_length  petal_width species_name
0             5.1          3.5           1.4          0.2       setosa
1             4.9          3.0           1.4          0.2       setosa
2             4.7          3.2           1.3          0.2       setosa
3             4.6          3.1           1.5          0.2       setosa
4             5.0          3.6           1.4          0.2       setosa
5             5.4          3.9           1.7          0.4       setosa
6             4.6          3.4           1.4          0.3       setosa
7             5.0          3.4           1.5          0.2       setosa
8             4.4          2.9           1.4          0.2       setosa
9             4.9          3.1           1.5          0.1       setosa
10            5.4          3.7           1.5          0.2       setosa
11            4.8          3.4           1.6          0.2       setosa
12            4.8          3.0           1.4          0.1       setosa
13            4.3          3.0           1.1          0.1       setosa
14            5.8          4.0           1.2          0.2       setosa
15            5.7          4.4           1.5          0.4       setosa
16            5.4          3.9           1.3          0.4       setosa
17            5.1          3.5           1.4          0.3       setosa
18            5.7          3.8           1.7          0.3       setosa
19            5.1          3.8           1.5          0.3       setosa
20            5.4          3.4           1.7          0.2       setosa
21            5.1          3.7           1.5          0.4       setosa
22            4.6          3.6           1.0          0.2       setosa
23            5.1          3.3           1.7          0.5       setosa
24            4.8          3.4           1.9          0.2       setosa
25            5.0          3.0           1.6          0.2       setosa
26            5.0          3.4           1.6          0.4       setosa
27            5.2          3.5           1.5          0.2       setosa
28            5.2          3.4           1.4          0.2       setosa
29            4.7          3.2           1.6          0.2       setosa
30            4.8          3.1           1.6          0.2       setosa
31            5.4          3.4           1.5          0.4       setosa
32            5.2          4.1           1.5          0.1       setosa
33            5.5          4.2           1.4          0.2       setosa
34            4.9          3.1           1.5          0.2       setosa
35            5.0          3.2           1.2          0.2       setosa
36            5.5          3.5           1.3          0.2       setosa
37            4.9          3.6           1.4          0.1       setosa
38            4.4          3.0           1.3          0.2       setosa
39            5.1          3.4           1.5          0.2       setosa
40            5.0          3.5           1.3          0.3       setosa
41            4.5          2.3           1.3          0.3       setosa
42            4.4          3.2           1.3          0.2       setosa
43            5.0          3.5           1.6          0.6       setosa
44            5.1          3.8           1.9          0.4       setosa
45            4.8          3.0           1.4          0.3       setosa
46            5.1          3.8           1.6          0.2       setosa
47            4.6          3.2           1.4          0.2       setosa
48            5.3          3.7           1.5          0.2       setosa
49            5.0          3.3           1.4          0.2       setosa
50            7.0          3.2           4.7          1.4   versicolor
51            6.4          3.2           4.5          1.5   versicolor
52            6.9          3.1           4.9          1.5   versicolor
53            5.5          2.3           4.0          1.3   versicolor
54            6.5          2.8           4.6          1.5   versicolor
55            5.7          2.8           4.5          1.3   versicolor
56            6.3          3.3           4.7          1.6   versicolor
57            4.9          2.4           3.3          1.0   versicolor
58            6.6          2.9           4.6          1.3   versicolor
59            5.2          2.7           3.9          1.4   versicolor
60            5.0          2.0           3.5          1.0   versicolor
61            5.9          3.0           4.2          1.5   versicolor
62            6.0          2.2           4.0          1.0   versicolor
63            6.1          2.9           4.7          1.4   versicolor
64            5.6          2.9           3.6          1.3   versicolor
65            6.7          3.1           4.4          1.4   versicolor
66            5.6          3.0           4.5          1.5   versicolor
67            5.8          2.7           4.1          1.0   versicolor
68            6.2          2.2           4.5          1.5   versicolor
69            5.6          2.5           3.9          1.1   versicolor
70            5.9          3.2           4.8          1.8   versicolor
71            6.1          2.8           4.0          1.3   versicolor
72            6.3          2.5           4.9          1.5   versicolor
73            6.1          2.8           4.7          1.2   versicolor
74            6.4          2.9           4.3          1.3   versicolor
75            6.6          3.0           4.4          1.4   versicolor
76            6.8          2.8           4.8          1.4   versicolor
77            6.7          3.0           5.0          1.7   versicolor
78            6.0          2.9           4.5          1.5   versicolor
79            5.7          2.6           3.5          1.0   versicolor
80            5.5          2.4           3.8          1.1   versicolor
81            5.5          2.4           3.7          1.0   versicolor
82            5.8          2.7           3.9          1.2   versicolor
83            6.0          2.7           5.1          1.6   versicolor
84            5.4          3.0           4.5          1.5   versicolor
85            6.0          3.4           4.5          1.6   versicolor
86            6.7          3.1           4.7          1.5   versicolor
87            6.3          2.3           4.4          1.3   versicolor
88            5.6          3.0           4.1          1.3   versicolor
89            5.5          2.5           4.0          1.3   versicolor
90            5.5          2.6           4.4          1.2   versicolor
91            6.1          3.0           4.6          1.4   versicolor
92            5.8          2.6           4.0          1.2   versicolor
93            5.0          2.3           3.3          1.0   versicolor
94            5.6          2.7           4.2          1.3   versicolor
95            5.7          3.0           4.2          1.2   versicolor
96            5.7          2.9           4.2          1.3   versicolor
97            6.2          2.9           4.3          1.3   versicolor
98            5.1          2.5           3.0          1.1   versicolor
99            5.7          2.8           4.1          1.3   versicolor
100           6.3          3.3           6.0          2.5    virginica
101           5.8          2.7           5.1          1.9    virginica
102           7.1          3.0           5.9          2.1    virginica
103           6.3          2.9           5.6          1.8    virginica
104           6.5          3.0           5.8          2.2    virginica
105           7.6          3.0           6.6          2.1    virginica
106           4.9          2.5           4.5          1.7    virginica
107           7.3          2.9           6.3          1.8    virginica
108           6.7          2.5           5.8          1.8    virginica
109           7.2          3.6           6.1          2.5    virginica
110           6.5          3.2           5.1          2.0    virginica
111           6.4          2.7           5.3          1.9    virginica
112           6.8          3.0           5.5          2.1    virginica
113           5.7          2.5           5.0          2.0    virginica
114           5.8          2.8           5.1          2.4    virginica
115           6.4          3.2           5.3          2.3    virginica
116           6.5          3.0           5.5          1.8    virginica
117           7.7          3.8           6.7          2.2    virginica
118           7.7          2.6           6.9          2.3    virginica
119           6.0          2.2           5.0          1.5    virginica
120           6.9          3.2           5.7          2.3    virginica
121           5.6          2.8           4.9          2.0    virginica
122           7.7          2.8           6.7          2.0    virginica
123           6.3          2.7           4.9          1.8    virginica
124           6.7          3.3           5.7          2.1    virginica
125           7.2          3.2           6.0          1.8    virginica
126           6.2          2.8           4.8          1.8    virginica
127           6.1          3.0           4.9          1.8    virginica
128           6.4          2.8           5.6          2.1    virginica
129           7.2          3.0           5.8          1.6    virginica
130           7.4          2.8           6.1          1.9    virginica
131           7.9          3.8           6.4          2.0    virginica
132           6.4          2.8           5.6          2.2    virginica
133           6.3          2.8           5.1          1.5    virginica
134           6.1          2.6           5.6          1.4    virginica
135           7.7          3.0           6.1          2.3    virginica
136           6.3          3.4           5.6          2.4    virginica
137           6.4          3.1           5.5          1.8    virginica
138           6.0          3.0           4.8          1.8    virginica
139           6.9          3.1           5.4          2.1    virginica
140           6.7          3.1           5.6          2.4    virginica
141           6.9          3.1           5.1          2.3    virginica
142           5.8          2.7           5.1          1.9    virginica
143           6.8          3.2           5.9          2.3    virginica
144           6.7          3.3           5.7          2.5    virginica
145           6.7          3.0           5.2          2.3    virginica
146           6.3          2.5           5.0          1.9    virginica
147           6.5          3.0           5.2          2.0    virginica
148           6.2          3.4           5.4          2.3    virginica
149           5.9          3.0           5.1          1.8    virginica

### 3. Rename the species_name column to just species.

In [26]:
iris = iris.rename(columns={"species_name": "species"})
iris

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
6             4.6          3.4           1.4          0.3      setosa
7             5.0          3.4           1.5          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
10            5.4          3.7           1.5          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
16            5.4          3.9           1.3          0.4      setosa
17            5.1          3.5           1.4          0.3      setosa
18            5.7          3.8           1.7          0.3      setosa
19            5.1          3.8           1.5          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
21            5.1          3.7           1.5          0.4      setosa
22            4.6          3.6           1.0          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
24            4.8          3.4           1.9          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
27            5.2          3.5           1.5          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
31            5.4          3.4           1.5          0.4      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
34            4.9          3.1           1.5          0.2      setosa
35            5.0          3.2           1.2          0.2      setosa
36            5.5          3.5           1.3          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
38            4.4          3.0           1.3          0.2      setosa
39            5.1          3.4           1.5          0.2      setosa
40            5.0          3.5           1.3          0.3      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
43            5.0          3.5           1.6          0.6      setosa
44            5.1          3.8           1.9          0.4      setosa
45            4.8          3.0           1.4          0.3      setosa
46            5.1          3.8           1.6          0.2      setosa
47            4.6          3.2           1.4          0.2      setosa
48            5.3          3.7           1.5          0.2      setosa
49            5.0          3.3           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
55            5.7          2.8           4.5          1.3  versicolor
56            6.3          3.3           4.7          1.6  versicolor
57            4.9          2.4           3.3          1.0  versicolor
58            6.6          2.9           4.6          1.3  versicolor
59            5.2          2.7           3.9          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
61            5.9          3.0           4.2          1.5  versicolor
62            6.0          2.2           4.0          1.0  versicolor
63            6.1          2.9           4.7          1.4  versicolor
64            5.6          2.9           3.6          1.3  versicolor
65            6.7          3.1           4.4          1.4  versicolor
66            5.6          3.0           4.5          1.5  versicolor
67            5.8          2.7           4.1          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
70            5.9          3.2           4.8          1.8  versicolor
71            6.1          2.8           4.0          1.3  versicolor
72            6.3          2.5           4.9          1.5  versicolor
73            6.1          2.8           4.7          1.2  versicolor
74            6.4          2.9           4.3          1.3  versicolor
75            6.6          3.0           4.4          1.4  versicolor
76            6.8          2.8           4.8          1.4  versicolor
77            6.7          3.0           5.0          1.7  versicolor
78            6.0          2.9           4.5          1.5  versicolor
79            5.7          2.6           3.5          1.0  versicolor
80            5.5          2.4           3.8          1.1  versicolor
81            5.5          2.4           3.7          1.0  versicolor
82            5.8          2.7           3.9          1.2  versicolor
83            6.0          2.7           5.1          1.6  versicolor
84            5.4          3.0           4.5          1.5  versicolor
85            6.0          3.4           4.5          1.6  versicolor
86            6.7          3.1           4.7          1.5  versicolor
87            6.3          2.3           4.4          1.3  versicolor
88            5.6          3.0           4.1          1.3  versicolor
89            5.5          2.5           4.0          1.3  versicolor
90            5.5          2.6           4.4          1.2  versicolor
91            6.1          3.0           4.6          1.4  versicolor
92            5.8          2.6           4.0          1.2  versicolor
93            5.0          2.3           3.3          1.0  versicolor
94            5.6          2.7           4.2          1.3  versicolor
95            5.7          3.0           4.2          1.2  versicolor
96            5.7          2.9           4.2          1.3  versicolor
97            6.2          2.9           4.3          1.3  versicolor
98            5.1          2.5           3.0          1.1  versicolor
99            5.7          2.8           4.1          1.3  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
106           4.9          2.5           4.5          1.7   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
113           5.7          2.5           5.0          2.0   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
119           6.0          2.2           5.0          1.5   virginica
120           6.9          3.2           5.7          2.3   virginica
121           5.6          2.8           4.9          2.0   virginica
122           7.7          2.8           6.7          2.0   virginica
123           6.3          2.7           4.9          1.8   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
126           6.2          2.8           4.8          1.8   virginica
127           6.1          3.0           4.9          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

### 4. Create dummy variables of the species name and concatenate onto the iris dataframe.

In [27]:
# Creating my dummies
iris_dummy = pd.get_dummies(iris[['species']], dummy_na=False )

# Concatenating dummies onto dataframe and validating that columns are present
iris = pd.concat([iris, iris_dummy], axis=1)
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,setosa,1,0,0
1,4.9,3.0,1.4,0.2,setosa,1,0,0
2,4.7,3.2,1.3,0.2,setosa,1,0,0
3,4.6,3.1,1.5,0.2,setosa,1,0,0
4,5.0,3.6,1.4,0.2,setosa,1,0,0

### 5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [28]:
def prep_iris(iris):
    iris = iris.drop(["species_id","measurement_id"], 1)
    iris = iris.rename(columns={"species_name": "species"})
    iris_dummy = pd.get_dummies(iris[['species']], dummy_na=False )
    iris = pd.concat([iris, iris_dummy], axis=1)
    return iris

### Using the Titanic dataset:

### 1. Use the function defined in acquire.py to load the Titanic data.

In [29]:
titanic = acquire.get_titanic_data()

### 2. Drop any unnecessary, unhelpful, or duplicated columns.

In [30]:
# Dropping duplicates (if any)
titanic = titanic.drop_duplicates()

# Dropping columns with too many missing values (like we saw in the lesson)
titanic = titanic.drop(['deck', 'embarked', 'class', 'age'], 1)

# embark_town has some NULLs, I'm gonna run .fillna() on the column with the most popular port
titanic['embark_town'] = titanic.embark_town.fillna(value='Southampton')

### 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [31]:
# Making some dummies!
titanic_dummy = pd.get_dummies(titanic[['sex', 'embark_town']], dummy_na=False, drop_first= False )

# I only want one column for gender, but I want to keep all embark dummies for now
titanic_dummy = titanic_dummy.drop('sex_male', 1)
titanic_dummy = titanic_dummy.rename(columns={"sex_female": "is_female"})

# Okay, now to concatenate my dummy dataframe to my titanic dataframe
titanic = pd.concat([titanic, titanic_dummy], axis=1)
titanic.head()

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,is_female,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,1,0,7.2500,Southampton,0,0,0,0,1
1,1,1,1,female,1,0,71.2833,Cherbourg,0,1,1,0,0
2,2,1,3,female,0,0,7.9250,Southampton,1,1,0,0,1
3,3,1,1,female,1,0,53.1000,Southampton,0,1,0,0,1
4,4,0,3,male,0,0,8.0500,Southampton,1,0,0,0,1

### 4. Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [32]:
def prep_titanic (titanic):
    # Dropping duplicates (if any)
    titanic = titanic.drop_duplicates()

    # Dropping columns with too many missing values (like we saw in the lesson)
    titanic = titanic.drop(['deck', 'embarked', 'class', 'age'], 1)

    # embark_town has some NULLs, I'm gonna run .fillna() on the column with the most popular port
    titanic['embark_town'] = titanic.embark_town.fillna(value='Southampton')

    # Making some dummies!
    titanic_dummy = pd.get_dummies(titanic[['sex', 'embark_town']], dummy_na=False, drop_first= False )

    # I only want one column for gender, but I want to keep all embark dummies for now
    titanic_dummy = titanic_dummy.drop('sex_male', 1)
    titanic_dummy = titanic_dummy.rename(columns={"sex_female": "is_female"})

    # Okay, now to concatenate my dummy dataframe to my titanic dataframe
    titanic = pd.concat([titanic, titanic_dummy], axis=1)
    
    return titanic

### Using the Telco dataset

### 1. Use the function defined in acquire.py to load the Telco data.

In [33]:
telco = acquire.get_telco_data()

### 2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [34]:
# Some total_charges are blank. Let's convert those to zero for now, or I won't be able to change dtype
telco = telco.assign(total_charges = telco.total_charges.replace(" ", "0.00"))

# Total_Charges needs to be changed from Object to a Float
telco["total_charges"]= telco["total_charges"].str.strip().replace(",","").replace("$","").astype(float)

### 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [35]:
# Always Drop them duplicates (if any)
telco = telco.drop_duplicates()

# Time to make a LOT of dummies for all the categorical columns
telco_dummy1 = pd.get_dummies(
                              telco[[ 'gender', 
                                      'partner', 
                                      'dependents', 
                                      'phone_service', 
                                      'paperless_billing',
                                      'churn',
                                      'multiple_lines', 
                                      'online_security', 
                                      'online_backup', 
                                      'device_protection', 
                                      'tech_support',
                                      'streaming_tv']], 
                                      dummy_na= False, drop_first= True
                             )
# Making two dummies because it's easier than dropping a bunch of columns after
telco_dummy2 = pd.get_dummies(
                              telco[[ 
                                      'internet_service_type',
                                      'payment_type',
                                      'contract_type']], 
                                      dummy_na= False, #drop_first= True
                             )

# Now to concatenate my dummy dataframes to my telco dataframe
telco = pd.concat([telco, telco_dummy1, telco_dummy2], axis=1)
telco.head()

# Looks great! I'm gonna rename some columns for clarity tho:
telco = telco.rename(columns={"gender_Male": "is_male"})
telco = telco.rename(columns={"partner_Yes": "has_partner"})
telco = telco.rename(columns={"dependents_Yes": "has_dependent"})
telco = telco.rename(columns={"phone_service_Yes": "has_phone_service"})
telco = telco.rename(columns={"paperless_billing_Yes": "has_paperless_billing"})
telco = telco.rename(columns={"churn_Yes": "has_churned"})
telco = telco.rename(columns={"contract_type_One year": "one_year_contract"})
telco = telco.rename(columns={"contract_type_Two year": "two_year_contract"})
telco = telco.rename(columns={"multiple_lines_Yes": "has_multiple_lines"})
telco = telco.rename(columns={"multiple_lines_No phone service": "multiple_lines_no_phone_service"})
telco = telco.rename(columns={"online_security_No internet service": "online_security_no_internet_service"})
telco = telco.rename(columns={"online_security_Yes": "has_online_security"})
telco = telco.rename(columns={"online_backup_No internet service": "online_backup_no_internet_service"})
telco = telco.rename(columns={"online_backup_Yes": "has_online_backup"})
telco = telco.rename(columns={"device_protection_No internet service": "device_protection_no_internet_service"})
telco = telco.rename(columns={"device_protection_Yes": "has_device_protection"})
telco = telco.rename(columns={"tech_support_No internet service": "tech_support_no_internet_service"})
telco = telco.rename(columns={"tech_support_Yes": "has_tech_support"})
telco = telco.rename(columns={"streaming_tv_No internet service": "streaming_tv_no_internet_service"})
telco = telco.rename(columns={"streaming_tv_Yes": "has_streaming_tv"})
telco = telco.rename(columns={"internet_service_type_Fiber optic": "internet_service_type_fiber_optic"})
telco = telco.rename(columns={"payment_type_Bank transfer (automatic)": "payment_type_bank_transfer"})
telco = telco.rename(columns={"payment_type_Credit card (automatic)": "payment_type_credit_card"})
telco = telco.rename(columns={"payment_type_Electronic check": "payment_type_electronic_check"})
telco = telco.rename(columns={"payment_type_Mailed check": "payment_type_mailed_check"})
telco = telco.rename(columns={"contract_type_Month-to-month": "month_to_month_contract"})

### 4. Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [36]:
def prep_telco(telco):
    
    # Some total_charges are blank. Let's convert those to zero for now, or I won't be able to change dtype
    telco = telco.assign(total_charges = telco.total_charges.replace(" ", "0.00"))

    # Total_Charges needs to be changed from Object to a Float
    telco["total_charges"]= telco["total_charges"].str.strip().replace(",","").replace("$","").astype(float)

    # Always Drop them duplicates (if any)
    telco = telco.drop_duplicates()

    # Time to make a LOT of dummies for all the categorical columns
    telco_dummy1 = pd.get_dummies(
                                  telco[[ 'gender', 
                                          'partner', 
                                          'dependents', 
                                          'phone_service', 
                                          'paperless_billing',
                                          'churn',
                                          'multiple_lines', 
                                          'online_security', 
                                          'online_backup', 
                                          'device_protection', 
                                          'tech_support',
                                          'streaming_tv']], 
                                          dummy_na= False, drop_first= True
                                 )
    # Making two dummies because it's easier than dropping a bunch of columns after
    telco_dummy2 = pd.get_dummies(
                                  telco[[ 
                                          'internet_service_type',
                                          'payment_type',
                                          'contract_type']], 
                                          dummy_na= False, #drop_first= True
                                 )

    # Now to concatenate my dummy dataframes to my telco dataframe
    telco = pd.concat([telco, telco_dummy1, telco_dummy2], axis=1)
    telco.head()

    # Looks great! I'm gonna rename some columns for clarity tho:
    telco = telco.rename(columns={"gender_Male": "is_male"})
    telco = telco.rename(columns={"partner_Yes": "has_partner"})
    telco = telco.rename(columns={"dependents_Yes": "has_dependent"})
    telco = telco.rename(columns={"phone_service_Yes": "has_phone_service"})
    telco = telco.rename(columns={"paperless_billing_Yes": "has_paperless_billing"})
    telco = telco.rename(columns={"churn_Yes": "has_churned"})
    telco = telco.rename(columns={"contract_type_One year": "one_year_contract"})
    telco = telco.rename(columns={"contract_type_Two year": "two_year_contract"})
    telco = telco.rename(columns={"multiple_lines_Yes": "has_multiple_lines"})
    telco = telco.rename(columns={"multiple_lines_No phone service": "multiple_lines_no_phone_service"})
    telco = telco.rename(columns={"online_security_No internet service": "online_security_no_internet_service"})
    telco = telco.rename(columns={"online_security_Yes": "has_online_security"})
    telco = telco.rename(columns={"online_backup_No internet service": "online_backup_no_internet_service"})
    telco = telco.rename(columns={"online_backup_Yes": "has_online_backup"})
    telco = telco.rename(columns={"device_protection_No internet service": "device_protection_no_internet_service"})
    telco = telco.rename(columns={"device_protection_Yes": "has_device_protection"})
    telco = telco.rename(columns={"tech_support_No internet service": "tech_support_no_internet_service"})
    telco = telco.rename(columns={"tech_support_Yes": "has_tech_support"})
    telco = telco.rename(columns={"streaming_tv_No internet service": "streaming_tv_no_internet_service"})
    telco = telco.rename(columns={"streaming_tv_Yes": "has_streaming_tv"})
    telco = telco.rename(columns={"internet_service_type_Fiber optic": "internet_service_type_fiber_optic"})
    telco = telco.rename(columns={"payment_type_Bank transfer (automatic)": "payment_type_bank_transfer"})
    telco = telco.rename(columns={"payment_type_Credit card (automatic)": "payment_type_credit_card"})
    telco = telco.rename(columns={"payment_type_Electronic check": "payment_type_electronic_check"})
    telco = telco.rename(columns={"payment_type_Mailed check": "payment_type_mailed_check"})
    telco = telco.rename(columns={"contract_type_Month-to-month": "month_to_month_contract"})

    return telco

In [37]:
telco.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,is_male,has_partner,has_dependent,has_phone_service,has_paperless_billing,has_churned,multiple_lines_no_phone_service,has_multiple_lines,online_security_no_internet_service,has_online_security,online_backup_no_internet_service,has_online_backup,device_protection_no_internet_service,has_device_protection,tech_support_no_internet_service,has_tech_support,streaming_tv_no_internet_service,has_streaming_tv,internet_service_type_DSL,internet_service_type_fiber_optic,internet_service_type_None,payment_type_bank_transfer,payment_type_credit_card,payment_type_electronic_check,payment_type_mailed_check,month_to_month_contract,one_year_contract,two_year_contract
0,2,1,3,0016-QLJIS,Female,0,Yes,Yes,65,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,90.45,5957.90,No,Two year,DSL,Mailed check,0,1,1,1,1,0,0,1,0,1,0,1,0,1,0,1,0,1,1,0,0,0,0,0,1,0,0,1
1,4,1,3,0017-DINOC,Male,0,No,No,54,No,No phone service,Yes,No,No,Yes,Yes,No,No,45.20,2460.55,No,Two year,DSL,Credit card (automatic),1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1,1,0,0,0,1,0,0,0,0,1
2,3,1,3,0019-GFNTW,Female,0,No,No,56,No,No phone service,Yes,Yes,Yes,Yes,No,No,No,45.05,2560.10,No,Two year,DSL,Bank transfer (automatic),0,0,0,0,0,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,0,1,0,0,0,0,0,1
3,4,1,3,0056-EPFBG,Male,0,Yes,Yes,20,No,No phone service,Yes,No,Yes,Yes,No,No,Yes,39.40,825.40,No,Two year,DSL,Credit card (automatic),1,1,1,0,1,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0,1
4,3,1,3,0078-XZMHT,Male,0,Yes,No,72,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,85.15,6316.20,No,Two year,DSL,Bank transfer (automatic),1,1,0,1,1,0,0,1,0,0,0,1,0,1,0,1,0,1,1,0,0,1,0,0,0,0,0,1

# Exploratory Analysis Exercises

### Section 1 - `iris_db`: Using iris data from our mySQL server and the methods used in the lesson above:

### 1. Acquire, prepare & split your data.

In [ ]:
# All the work I've done in one pretty package:
iris_train, iris_validate, iris_test = acquire.prep_iris( acquire.get_iris_data() )

### 2. Univariate Stats

In [44]:
iris_train.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_setosa,species_versicolor,species_virginica
89,5.5,2.5,4.0,1.3,versicolor,0,1,0
32,5.2,4.1,1.5,0.1,setosa,1,0,0
117,7.7,3.8,6.7,2.2,virginica,0,0,1
104,6.5,3.0,5.8,2.2,virginica,0,0,1
69,5.6,2.5,3.9,1.1,versicolor,0,1,0

### For each measurement type (quantitative variable): create a histogram, boxplot, & compute descriptive statistics (using .describe()).

### For each species (categorical variable): create a frequency table and a bar plot of those frequencies.

### Document takeaways & any actions.